
.my__header{
    
    background: #a7d2d4;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.logo{
    font-size: 25px;
    display: block;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.list__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    z-index: 1;
    transition: 0.4s;
}

.list__menu li{
    list-style-type: none;
}

.link{
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: block;
    line-height: 1;
    transition: 0.3s; 
}

.link:hover{
    
    color: #ffffff;
}
