    <div class="my__header sticky-top">
        <div class="container-fluid">
            <div class="header">
                <div class="logo"><h1>Business Co</h1></div>
                <div class="menu">
                    <ul class="list__menu">
                        <li><a class="link">Home</a></li>
                        <li><a class="link">WordPress</a></li>
                        <li><a class="link">WebDesign</a></li>
                        <li><a class="link">About</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
